@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);
}

body {
  font-family: "Karla", sans-serif;
  background-color: var(--green-200);
  color: var(--grey-900);
  min-height: 100vh;
  padding: 1rem;
}

.container {
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 10px 20px -10px rgba(72, 84, 159, 0.2);
  padding: 2rem;
  margin: 3rem auto;
  width: 100%;
  max-width: 680px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

label::after {
  content: "*";
  color: var(--green-600);
  margin-left: 0.25rem;
}

input {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid var(--grey-500);
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: var(--green-600);
}

textarea {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid var(--grey-500);
  border-radius: 5px;
}

textarea:focus {
  outline: none;
  border-color: var(--green-600);
}

.input__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input__group {
  margin-bottom: 1.5rem;
  width: 100%;
}

.query-type {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 0.5rem;
}

.query-type label {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  gap: 0.5rem;
  border: 1px solid var(--grey-500);
}

.query-type label::after {
  content: "";
}

/* make border green when one radion is selected */
.query-type:has(input:checked) label:has(input:checked) {
  border: 2px solid var(--green-600);
}

.query-type input {
  padding: 0 0.5rem;
  display: block;
  width: fit-content;
  accent-color: var(--green-600);
}

.consent {
  display: flex;
  align-items: center;
}

.consent input {
  display: inline;
  width: auto;
  margin-right: 1rem;
  accent-color: var(--green-600);
  font-size: 4rem;
}

.consent::after {
  content: "";
}

.consent span::after {
  content: "*";
  color: var(--green-600);
  margin-left: 0.25rem;
}

button {
  background-color: var(--green-600);
  color: var(--white);
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;
  letter-spacing: 0.05em;
  font-size: 1rem;
  font-weight: 700;
}

button:hover {
  background-color: hsl(169, 82%, 20%);
}

/* Error states */
.error {
  color: var(--red);
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.input__error {
  border-color: var(--red);
}

/* Success message */
.success__message {
  position: fixed;
  top: -100%;
  left: 50%;
  background-color: var(--grey-900);
  color: var(--white);
  font-size: 0.875rem;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 100;
}

.success__message.show {
  top: 0;
  opacity: 1;
  transform: translate(-50%, 0%);
}

.success__message h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.success__message p {
  color: var(--gray-500);
  margin-top: 0.5rem;
}

@media screen and (min-width: 640px) {
  .success__message {
    border-radius: 1rem;
    width: fit-content;
    padding: 1.5rem 2rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin: 5rem auto;
    padding: 3rem;
  }

  .input__wrapper {
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .query-type {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
